.library {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 5px;
}
.library-header {
  display: flex;
  padding-bottom: 4px;
  background: #eee;
  bottom: 1px solid #999;
  height: 50px;
}
.library-header-title {
 font-size: 1.2em;
 text-transform: uppercase;
 font-family: "Helvetica";
 padding: 15px 4px;
}

.library-header-search {
  margin-left: auto;
}

.library-object-header {
 text-align: right;
 border-bottom: 1px solid #ddd;
 padding : 4px 0;
 font-family: "Helvetica";
 font-style: italic;
}

.library-object-content ul{
  /*list-style: none;*/
}

.library-object-item{
  cursor: pointer;
}

.library-object-item:hover{
  background: #ccc;
}
.library-object-item--selected {
  background: #ddd
}