.library {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 5px;
  margin: 0 5px;
}
.library-header {
  display: flex;
  padding-bottom: 4px;
  background: #eee;
  bottom: 1px solid #999;
  height: 50px;
}
.library-header-title {
 font-size: 1.2em;
 text-transform: uppercase;
 font-family: "Helvetica";
 padding: 15px 4px;
}

.library-header-search {
  margin-left: auto;
}