.dataeditor {
  min-height: 300px;
  height: 380px;;
  padding: 4px;
  background: #F5F7F8
}

.waypoint-editor {
  display: flex;
  margin: 0;
  padding : 0;
  height: 100%;
}

.waypoint-editor-list{
  overflow-y: auto;
  flex: 1;
}
.helpmessage {
  padding: 10px;
}
.helpmessage h1{
  background: #fff;
  margin-top: 0;
  text-align: center;
}