.dataeditor {
  min-height: 300px;
  height: 400px;
  background: #fff;
}

.waypoint-editor {
  display: flex;
  margin: 0;
  padding : 0;
  height: 100%;
}

.waypoint-editor-list{
  overflow-y: auto;
  flex: 1;
}
.helpmessage {
  padding: 10px;
}
.helpmessage h1{
  margin-top: 0;
  text-align: center;
}