.fpl-form {
  display: flex;
  padding-top: 10px;
}
.fpl-form > div {
  flex: 1;
}

.fpl-form input {
  border : 1px solid #ddd;
  border-radius: 2px;
  padding: 4px;
}
.fpl-form label {
  display: block;
  font-family: "Helvetica";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
}

.fpl-input {
  margin: 4px 0;
}



.fpl-input-adesdadep {
  display: flex;
}

.fpl-input-geo {
  margin-left: 4px;
  margin-right: 4px;
}
.fpl-input-geo input{
  width: 80px
}

.fpl-input-cruising input{
  width: 25px;
  margin-right: 2px;
}

.fpl-input-adesdadep img {
  width: 32px;
  height: 32px;
  bottom: 0;
}
/*
.fpl-input-adesdadep--block {
  margin: 0 4px;
}

*/