.fpl-form {
  display: flex;
}
.fpl-form input {
  border : 1px solid #ddd;
  border-radius: 2px;
  padding: 4px;
}
.fpl-formleft , .fpl-formright {
  flex: 1;
}

.fpl-input label {
  display: block;
}

.fpl-input-adesdadep {
  display: flex;
}
.fpl-input-geo input{
  width: 80px
}
.fpl-input-adesdadep img {
  width: 32px;
  height: 32px;
  bottom: 0;
}
.fpl-input-adesdadep--block {
  margin: 0 4px;
}