.toolbar-geo {
  background: #eee;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0 ;
  padding: 2px;
}

.toolbar-geo-item {
  margin-left: auto;
  width: 300px;
  display: flex;
}
.toolbar-geo-label {
  margin-right: 0.5em;
  font-size: 1.1em;
  color: #222;
}
.toolbar-geo .Select {
  display: inline-block;
  width: 200px;
  outline: none;
}