.toolbar-geo {
  background: #cecece;
  border-radius: 5px;
  padding: 2px;
}

.toolbar-geo-item {
  margin-left: auto;
  width: 300px;
  display: flex;
}
.toolbar-geo-label {
  margin-right: 1em;
  font-size: 1.2em;
  color: #222;
}
.toolbar-geo .Select {
  display: inline-block;
  width: 200px;
}