svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


body {
  background-image: url("../../assets/binding-light.png");
  font-family: "Helvetica"
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.wrapper > div {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}