.wrapper {
  margin : 0 auto;
  display: flex;
}

.layout-editors {
  width: 710px;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.layout-library {
  min-width: 400px;
  min-height: 100%;
  display: flex;
  border-radius: 5px;

}
