.toolbar {
  list-style: none;
}
.toolbar-button {
  background: transparent;
  border: 1px solid #888;
  padding: 4px;
  cursor: pointer;
  outline: none;
  float: left;
  margin: 0 2px;
}

.toolbar-button:hover {
  background: #eee;
}

.toolbar-button:active {
  background: #ddd;
  box-shadow: 0 0 2px #555 inset;
}

.toolbar-button--selected {
  background: #ddd;
  box-shadow: 0 0 2px #555 inset;
}

.toolbar-info {
  color: #888;
  font-size: 0.8em;
}