.toolbar-editor {
  display: flex;
  height: 40px;
  background: #fff;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0px 1px 2px #eaeaea;
  position: relative;
}

.toolbar-editor-item {
  width: 200px;
  padding: 5px;
  font-size:1.4em;
  text-align: center;
}
.toolbar-editor-actions {
  flex: 1;
  display: flex;
  padding-top: 5px;
}
.toolbar-editor-actions__action {
  width: 24px;
  height: 24px;
  color :#52A3E9;
  background: #fff;
  box-shadow: 1px 1px 1px #eee;
  border: 1px solid #eee;
  border-radius: 5px;
  cursor: pointer;
}

/*
.toolbar-editor ul{
  list-style: none;
  display: flex;
  margin:0;
  padding: 0;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.toolbar-editor-tab {
  flex:1 1 auto;
  padding: 4px ;
  border-right : 1px solid #aaa;
  cursor: pointer;

  color: #777;
}
.toolbar-editor-tab:last-child{
  border-right : none;
}

.toolbar-editor-tab--active {
  background: #bbb;
  color: #fefefe;
  border-right : 1px solid #fff;
  border-bottom-color: transparent;
}

.toolbar-editor-tab--active:hover {
  background: #ddd;
  border-color:#777;
}

.toolbar-editor-tab--inactive {
  background: #eee;
  color: #777;
  cursor: auto;
}
*/