.toolbar-action {
  width: 70px;
  background: #eee;
  border: 1px solid #aaa;
  border-radius: 5px;
  min-height: 100%;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.toolbar-action-button {
  width: 48px;
  height: 48px;
  border:1px solid #fefefe;
  border-radius: 15px;
  margin: 5px auto;
  cursor: pointer;
  outline: none;
  background: #fefefe;
  box-shadow: 0 0 5px #aaa;
}
.toolbar-action-button:hover {
  background: #fafafa;
}
.toolbar-action-button:active {
  box-shadow: 0 0 5px #555;
  border:1px solid #fefefe;

}